.matrix-input-container {
  min-width: 200px;
  text-align: left;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: -400px;
  background-color: aqua !important;
}

.matrix-input {
  width: fit-content;
}

.row {
  border: 1px solid rgb(197, 197, 197);
  margin: 1px 0;
}

.grid-options {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.grid-options section {
  display: flex;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.grid-options label {
  margin-right: 5px;
  margin-top: 5px;
  width: 100px;
  text-align: right;
}

.grid-options input {
  width: 80px;
  border-radius: 5px;
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.dims-btn,
.create-btn {
  font-family: inherit;
  height: 30px;
  width: 200px;
  border-radius: 3px;
  font-weight: bold;
  background-color: rgba(48, 48, 160, 0.932);
  color: #fff;
  cursor: pointer;
  margin-left: 5%;
  margin-top: 10px;
}

.dims-btn:hover,
.create-btn:hover {
  filter: brightness(120%);
}

.grid-input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid-input {
  width: 30px;
  margin: 5px;
  border-radius: 3px;
  border: none;
  text-align: center;
}
